* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
    font-size:1.1em;
}

#reinicia{
    background-color: #c0d6df;
    padding: 4%;
    border-radius: 25px;
    color: black;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}
#reinicia:hover{
   background-color: red;
}

#play{
    background-color: #c0d6df;
    color: black;
    width: 105px;
    height: 55px;
    border-radius: 25px;
    padding-left: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

#jugador1{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    color: black;
}

#jugador2{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    color: black;
}

#jug1{
    background-color: transparent;
}

#jug2{
    background-color: transparent; 
}

.marcador_esquerra{
    position: absolute;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.marcador_dreta{
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100px;
}

.main_container {
    position: absolute;
    order: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: 100vh;
    background-color: #eaeaea;
}

.up_subcontainer {
    width: 90%;
    height: 90%;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #c0d6df;
}

.down_subcontainer {
    width: 90%;
    height: 10%;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #c0d6df;
}

.columna{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #c0d6df;
}

.columnaNegra{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: black;

}

.clickVerde{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #4c956c;
}

.clickRojo{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #a4161a;
}

.fila{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12.5%;
}

.Jug1{
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 100%;
    background-color: #eaeaea;
}

.menu{
    float: left;
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    width: 32%;
    height: 100%;
    background-color: #4f6d7a;
}

.Jug2{
    text-align: center;
    direction: row;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 34%;
    height: 100%;
    background-color: #eaeaea;
}
.puntos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.modal-footer{
    justify-content: center;
}
.modal-footer{
    justify-content: center;
}
.estiloJug1,h4#jugador1.estiloJug1 {
    color: black;
}
.estiloJug2,h4#jugador2.estiloJug2{
    color: rgb(190, 3, 3);

}


@media only screen and (orientation: portrait) {
    div.main_container {
        width: 100vw;
        height: 100vw;
    }
}